<footer>
  <section class="about text-center">
    <p class="feedback">we would love to hear from you</p>

    <div class="socials ">
      <img src="assets/face.svg" alt="facebook">
      <img src="assets/tweet.svg" alt="">
      <img src="assets/insta.svg" alt="">
    </div>

    <div class="logo_container">
      <img src="assets/oatsville/Oatville-logo-web.png" alt="LOGO">
    </div>

    <ul class="navbar-nav social_links ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active">products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">contact</a>
      </li>
    </ul>

    <div id="copyright"> 2021 Oatville, 28 Olanrewaju Street, Off Billings Way, Oregun, Lagos <!--<a
        href="#">T&Cs</a> | <a href="#">Privacy</a> | <a href="#">Sitemap</a>--> </div>

  </section>
</footer>