<section class="product-details-container" *ngIf="product" [ngStyle]="{'background': product.backgroundColor }">
  <div class="container-fluid text-center">
    <div class="row" id="product-details-inner">
      <div class="col-md-10">
        <h2 class="pt-3 mb-4" [ngStyle]="{'color': product.id === 2 ? '#222' : '#fff'}">{{ product.name }}</h2>

        <div class="row">
          <div class="col-md-4" id="imageContainer">
            <img id="productImage" src={{product.imageUrl}} alt="product image">
          </div>
          <div class="col-md-4" [@fadeIn]="animateState">
            <div class="ingredients">
              <h4 [ngStyle]="{'color': product.id === 2 ? '#353535' : '#fff'}">Ingredients</h4>
              <ul [ngStyle]="{'color': product.id === 2 ? '#222' : '#fff'}">
                <li *ngFor="let ingredient of product.ingredients">{{ingredient}}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="directions">
              <h4 [ngStyle]="{'color': product.id === 2 ? '#353535' : '#fff'}">Directions</h4>
              <ul [ngStyle]="{'color': product.id === 2 ? '#222' : '#fff'}">
                <li *ngFor="let direction of product.directions">{{direction}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2" id="other-products">
        <div class="row grided_row">
          <div class="col-lg-4 colored_products" [ngClass]="{'hidden': hiddenState}" *ngFor="let otherProduct of otherProducts">
            <div #productContainer class="next-product-container text-white"
             [@enter3]="animateState"
              [ngStyle]="{'background': otherProduct.backgroundColor}"
              (click) = "toggleState(); updateProductDetails(otherProduct.id)">
              <!-- <div class="rotate"> -->
                <p class="rotated_ninety">{{otherProduct.name}}</p>

              <!-- </div> -->
           </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>
