.product_items h4 {
  margin-top: 15px;
  font-size: 28px !important;
}

.product_items img {
  width: 30%;
}


@media(max-width: 768px) {

  .product_row {
    padding-top: 30px;
  }

  .product_list_left {
    margin-bottom: 40px;
  }

  .product_items img {
    width: 40%;
  }
  
}


@media(max-width: 576px) {
  .col-sm-12 {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product_items img {
    width: 35%;
  }
  
}