<div class="container">
  <app-navbar></app-navbar>

  <section id="home">
    <div class="col-lg-12 oat_home text-center">
      <h1 class="oat_head_text" [@flip1]> <b class="oat_heading_border">OatVille</b> serves you the best naturally
        processed
        OatMeal.</h1>
      <p class="oat_head_text_second" [@fadeIn1]>We know you share a love for organic oats like us, and that's why you
        are here! Welcome to oatsville, where we serve you premium oats with a difference. </p>

      <div class="head_image ">
        <label class="switch rotate">
          <input type="checkbox" (change)="scrollToAbout()">
          <span class="slider round"></span>
        </label>
        <br>
        <img id="landing_oat_img" class="pt-5 pb-5" src="assets/oatsville/oat1-12 1.png" alt="">
        <div class="ellipse-shadow"></div>
      </div>
    </div>
  </section>
</div>

<section class="about ">
  <div class="container about text-center">
    <h4 data-aos="fade" data-aos-duration="2500">About <b class="oat_heading_border">OatVille</b> </h4>
    <p data-aos="fade" data-aos-duration="2500" class="oat_head_text_second">Oatsville is a company based in the USA
      that produces Oatsville oats, which have been enjoyed for years, and has been tested and trusted by our customers.
      We hope you try one today and join the family. </p>
    <!-- <button class="btn btn_learn_more">Learn more</button> -->
  </div>
</section>

<section data-aos="fade" data-aos-duration="1000" class="product" id="products">
  <div class="container">
    <div class="row ">
      <div class="col-lg-7">
        <div class=" product_text text-left">
          <h4 data-aos="fade" data-aos-duration="2500">product <b class="oat_heading_border">OatVille</b> </h4>
          <p data-aos="fade" data-aos-duration="2500" class="mt-3">Oatsville oats are made from the finest
            ingredients, just for your pleasure.
            <br>
            It is made from all natural ingredients and is GMO free.
            How's a healthy breakfast that is guilt free sound?</p>
          <button class="btn btn_learn_more mt-3" (click)="routeToContact()">Get OatVille</button>
        </div>
      </div>
      <div class="col-lg-4 ml-auto" id="imgContainer">
        <img src="assets/oatsville/last-front 1.png" alt="">

      </div>
    </div>

  </div>

</section>

<section data-aos="fade" data-aos-duration="2500" class="about" id="productFactory">
  <div class="container about made_product text-center">
    <h4>Where Our Product Is made </h4>
    <p class="oat_head_text_second">Oatsville oats are produced in our factory in the USA.
      <br>
      From our factory to your stomachs, we promise you a worthwhile experience each time you take a bite of our
      products.</p>


  </div>
</section>

<section class="about" data-aos="fade" data-aos-duration="2500">
  <div class=" text-center">
    <div class="about">
      <h4>Our Proposed Recipe </h4>
      <p class="oat_head_text_second">View our top notch and delicious recipies. Get our product today and prepare any of the listed recipies below.</p>

    </div>
  </div>
</section>

<app-products></app-products>

<!-- <section class="product">
  <div class="container  text-center">
    <div class="product_text">
      <h4>Subscribe to our Newsletter</h4>
      <p class="oat_head_text_second">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
    </div>

    <div class="newsletter ">
      <input type="email" class="form-control" placeholder="email address">
      <button class="btn btn_learn_more " id="subscribe" type="submit">Subscribe</button>
    </div>
  </div>
</section> -->

<app-footer></app-footer>
